@font-face {
    font-family: ArialMT;
    src: url('../../fonts/16063.ttf'); 
   }

*, *::before, *::after {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
    font-family: 'Arial';
    font-size: 14px;
    color: #ffffff;
}
a {
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    color: #ffffff;
    &:hover {
        transition: 0.6s ease;
    }
}
button {
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    cursor: pointer;
}
img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: auto;
}
ul {
    padding-left: 0;
}
ul li {
    list-style: none;
}



.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 12px; 
}
.first_section {
    min-height: 500px;
    position: relative;
    z-index: 100;
    overflow: hidden;
}
.first_section:before {
    content: "";
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(-97deg, rgba(15, 37, 71, 0.39) 0%, rgba(34, 51, 77, 0) 100%);
    z-index: -1;
    opacity: 0.85;
    width: 100%;
    height: 100%;
}
.first_section .container .proposal {
    position: absolute;
    top: 380px;
    left: 0;
    right: 0;
    text-align: left;
    margin: auto;
    z-index: 5;
        .container h1 {
            color: #ffffff;
            font-size: 30px;
            line-height: 36px;
            z-index: 5;
            margin-bottom: 40px;
            font-weight: 400;
        }
        .container a {
            padding: 14px 29px;
            border-radius: 10px;
            background-color: #fbd341;
            color: #000000;
            font-size: 18px;
            z-index: 5;
        }
        &:before {
            content: "";
            width: 70%;
            height: 228px;
            position: absolute;
            top: -32px;
            left: 0;
            background-color: #004c84;
            background-image: linear-gradient(-264deg, rgba(15,37,71,0.07) 0%, rgba(34,51,77,0) 100%);
            opacity: 0.49; 
            z-index: -1;
        }
}

// second section

.second_section .container {
    padding: 72px 12px 70px 12px;
    display: flex;
    flex-wrap: wrap;
        a {
            color: #000000;
            font-size: 20px; 
            margin-right: 50px;
            margin-bottom: 10px;
            
            &:hover {
                color: #fbd341;
            }
        }
}

// third section 

.third_section .container {
    // font-family: "Arial";
    h3 {
        color: #000000; 
        font-size: 24px;
        line-height: 30px;
        padding-bottom: 50px;
    }
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 75px;
        img {
            width: auto;
            height: auto;
        }
         p {
            max-width: 537px;
            color: #000000;
            font-size: 16px;
            line-height: 24px;
         }
    }
}